*{
  padding: 0px;
  margin: 0px;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:#C5D2DE;
}
.logo{
  display: flex;
  width: 150px;
  height: 150px;
}
.barraPesquisa{
  display: flexbox;
  border-radius: 8px 0px 0px 8px;
  height: 40px;
  border: transparent;
  outline: 2px solid transparent;
  width: 400px
}
.login{
  margin-top: 60px;
  margin-left: 30px;
}
.textLogin{
  padding-left: 10px;
  display: inline-block;
  padding-right: 50px ;
  border-right: solid 2px #fff;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.cart{
  margin-top: 60px;
  padding-top: 5px;
  padding-left: 30px;
}
.imgCart{
  display: inline-block;
  padding-right: 8px;
}
.textcart{
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.bord:hover{
  border-radius: 10px 10px 10px 10px;
  background-color:#003375;
  transition: background .4s;
}
.cart:hover{
  border-radius: 10px 10px 10px 10px;
  background-color:#003375;
  width: 165px;
  height: 50px;
  transition: background .4s;
}
.decorationNone{
  text-decoration: none;
  color: black;
  list-style: none;
}

.conjunto{
  display: flex;
}
.barra{
  display: grid;
  padding-top: 60px;
  padding-left: 10px;
}
.categorias{
  font-family: Helvetica, Arial, sans-serif;
  font-style: bold;
  font-size: 15px;
  margin-top: 59px;
  width: 180px;
  text-align: center;
  height: 42px;
  outline: 2px solid transparent;
}

.btn{
  display: flex;
  margin-top: 60px;
  border-radius: 0px 6px 6px 0px;
  padding-left: 12px;
  width: 52px;
  height: 40px;
  align-items: center; 
  border: transparent;
  background: gainsboro;
}

#btn:hover{
  background-color: rgb(102, 102, 102);
  transition: background .4s;
}

.line{
  text-decoration: none;
  color: #003375;
}
.navmenu, .liNav, .menu{
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
}

.divmenu{
  background-color:#C5D2DE;
  border: solid 2px gray;
}
.liNav{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  list-style: none;
  font-size: 19px;
  padding-left: 60px;
  border-radius: 12px;
}
.liNav:hover{
  background-color: gray;
  border-radius: 5px;
  opacity: 0.9;
  transition: background .4s;
}
.navmenu{
  align-items: center;
}
.cabecalho{
  background-color: #004aad;
}

.card{
  display: block;
  margin-top: 20px;
  margin-left: 25px;
  width: 280px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.12);
  text-align: center;
}
.card:hover{
  border: solid 1px #fc0101;
  transition: 0.1s;
}
.img{
  padding-top: 20px;
  text-align: center;
}
.titulo{
  text-align: justify;
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 15px;
  font-family: Helvetica, Arial, sans-serif
}

.text{
  font-family: Helvetica, Arial, sans-serif
}
.descricao{
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
}
.carrinho{
  margin-top: 10px;
  height: 70px
}
 .textcarrinho{
  width: 200px;
  height: 50px;
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  border: 2px solid #003375;
} 
.textcarrinho:hover{
  background-color: #004aad;
  font-weight: bold;
  color: #fff;
  transition: background .3s;
}
.compras{
  display: flex;
  margin-top: 80px;
  margin-left: 58px;
  margin-right: 58px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.footer{
  background-color:#004aad;
}
.logofooter{
  margin-top: 10px;
  border-radius: 10px 10px 10px 10px;
  width: 120px;
  height: 95px;
}
.divLogo{
  text-align: center;
  margin-left: 300px;
}
.informacoes{
  font-family:Helvetica, Arial, sans-serif;
  display: inline-block;
  color: lightsteelblue;
  margin-left: 200px;
}
.space{
  margin-top: 20px;
  margin-bottom: 25px;
  font-style: bold;
}
.spaced{
  margin-top: 20px;
}
.espaco{
  margin-top: 20px;
  margin-bottom: 10px;
}
.numero{
  font-style: bold;
  font-size: 20px;
  padding-bottom: 20px;
  color: lightsteelblue;
}
.criador{
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 20px ;
  color: lightsteelblue;
}
.divFooter{
  display: flex;
}
#divSacola{
  display:flex;
  min-height: 400px;
}
#sacola{
  margin-left: 30px;
  margin-bottom: 60px;
  width: 970px;
  /* height: 800px; */
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
}
#boasVinda{
  margin-left: 300px;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  color: #004aad;
  margin-top: 60px;
  width: 700px;
}
#textSacola{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  margin-top: 20px;
  margin-left: 30px;
  
}
#infoPreco{
  padding-left: 883px;
  border-bottom: solid 1px #CCCCCC;
  /* border-bottom: solid 1px gray; */

  margin-left: 25px;
  margin-right: 25px;
  color: gray;
  font-size: 14px;
  /* padding-bottom: 10px; */
}
.sacolaCompra{
  margin-top: 10px;
  border-bottom: solid 1px #CCCCCC;
  /* border-bottom: solid 1px gray; */
  padding-bottom: 10px;
  margin-right: 25px;
  margin-left: 25px;
  display: flex
}
.imgCompra{
  display: flex;
}
.titleSacola{
  list-style: none;
  font-weight: bold;
  font-size:16px
}
.descrictionSacola{
  margin-top: 15px;
  margin-left: 10px;
}
.estoqueSacola{
  margin-top: 8px ;
  list-style: none;
  color: green;
}
.entregaSacola{
  margin-top: 3px;
  list-style: none;
}
.categoriaSacola{
  list-style: none;
  text-decoration: none;
  /* margin-top: 3px; */
}
.freteSacola{
  color: #0066C0;
  text-decoration: none;
}
.freteSacola:hover{
  text-decoration: underline;
}
.quantidadeSacola{
  margin-top: 20px;
  list-style: none;
}
.selectSacola{
  text-align: center;
  width: 80px;
  height: 30px;
  border-radius: 6px 6px 6px 6px;
  outline: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.selectSacola:hover{
  background-color: rgb(213, 217, 217);
  transition: background .4s;
}
.branco{
  background-color:#fff;
  border-radius: 4px 4px 4px 4px;
}
.conjuntoSacola{
  display: flex;
  /* width: 95px;
  height: 25px;   */
  /* border: 1px solid #fc0101; */
}

.excluirSacola{
  margin-top: 5px;
  margin-left: 12px;
  height: 20px;
  padding-left: 10px ;
  padding-right: 8px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.excluirNone{
  font-size: 14px;
  text-decoration: none;
  color: #0066C0;
}
.excluirNone:hover{
  text-decoration: underline;
}
.infoGeral{
  position: absolute;
  margin-left: 788px;
  text-align: right;
}
.preco{
  font-weight: bold;
  margin-top: 10px;
}
.tamanho{
  margin-top: 5px;
  width: 130px;
}
#subtotal{
  float:right;
  margin-right:25px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: right;
}
#spanSubtotal{
  font-weight: bold;
}
#finalizarCompra{
  background-color:#fff;
  width: 274px;
  height: 340px;
  margin-left: 20px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px 10px 10px 10px;
  /* display: flex; */
}

#finalizarTitle{
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 24px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  display:block;
}

#finalizarPreco{
  float:right;
  text-align: right;
}
#finalizarFrete{
  /* margin-top: 20px; */
  float: right;
  text-align: right;
}
#finalizarDescricao{
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;

}
#finalizarTotal{
  float:right;
  text-align: right;
  font-weight: bold;
}
#total{
  margin-top: 10px;
}
.right{
  float: right;
}
.ptop{
  margin-top: 6px;
}
#pagamento{
  padding-bottom: 30px;
  border-bottom: 1px solid gray;

}
#divFinalizar{
  margin-top: 30px;
}
#btnFinalizar{
  width: 270px;
  height: 50px;
  border-radius: 10px 10px 10px 10px;
  border: transparent;
  background-color:#004aad;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
#btnFinalizar:hover{
  background-color: #003375;
  transition: background .4s;
}
#bold{
  font-weight: bold;
}
.divlogin{
  border-radius: 8px;
  font-size: 20px;
  color: grey;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  height: 50px;
  border: transparent;
  width: 500px; 
  text-align: center;
  margin-left: 500px;
  margin-top:14px;
  margin-right: 500px;
  
}
.radio{
  text-align: center;
}

.divtextologin{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 80px;
  font-size: 25px;
  color: #F93535;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin-left: 150px;


}
.labellogin{
  font-family:Helvetica, Arial, sans-serif;
  margin-left: 500px;
  margin: top 14px;
  font-size: 16px;
  color: #F93535;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
.entrar{
  font-family:Helvetica, Arial, sans-serif;
  margin-left: 650px;
  width: 200px;
  margin-top:14px;
  font-size: 18px;
  color: #003375;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #F93535 ;
  padding: 14px 40px;
  transition-duration: 0.4s;
  display: flexbox;
}
.entrar:hover{
  background-color:#F93535 ; 
  color: white;
}
.esqueceusenha{
  font-family:Helvetica, Arial, sans-serif;
  margin-left:343px;
  margin: top 14px;
  font-size: 16px;
  color: #003375;
  text-decoration: none;
  font-weight: bold;
  text-align: right;
  text-decoration: underline;
  
}
.esqueceusenha:hover{
  color: #fc0101;
}
.cadastro:hover {
  color: #fc0101;
}
.textinho{
  font-family:Helvetica, Arial, sans-serif;
  display: inline-block;
  color: #003375;
  font-weight: bold;
  padding: 30px;
  margin-left: 450px;
  text-align: center;
}
.cadastro{
  font-family:Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #003375;
  text-decoration: none;
  font-weight: bold;
  text-align: right;
  text-decoration: underline;
}
.genero{
  text-align: center;
  align-items: center;
  font-family:Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #003375;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  text-align: center;
}
.test{
  margin-top: 30px; 
  display:flex;
  padding-right: 10px;
}

.feminino{
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.radioFeminino{
  margin-top: 10px;
  margin-right: 5px;
}
#telefone{
  margin-top: 20px;
}
#nascimento{
  margin-top: 20px;
}
#email{
  margin-top: 20px;
}
#senha{
  margin-top: 20px;
}

.flex{
    display: flex;
}
.main{
  display: flex;
  margin-bottom: 60px;
}
.centro{
  background-color: #fff;
  width: 1100px;
  margin: 10px auto;
  border-radius: 10px;
}
.centro-geral{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.img-1, .img-2, .img-3{
  margin: 35px auto;
}
.img-1 a img, .img-2 a img, .img-3 a img{
  border-radius: 6px;
  width: 700px;
}
.barra-lateral-direita{
  border: #003375 solid 2.5px;
  width: 253px;
  margin: 10px 7px;
  border-radius: 10px;
}
.barra-lateral-direita h2{
    width: 235px;
  margin: 10px auto;
  color: #003375;
}
.barra-lateral-direita .card{
  margin: 52px auto;
  width: 210px;
}
.barra-lateral-direita .card .titulo{
  color: #fc0101;
  text-decoration: line-through;
}
.barra-lateral-direita .card .titulo-2{
  color: #127c42;
}
.titulo-2{
  text-align: justify;
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 15px;
  font-family: Helvetica, Arial, sans-serif
}
.titulo-flex{
  display: flex;
}
.carrosel{
  width: 100%;
  height: 350px;
  margin: 50px auto;
  overflow: hidden;
  box-shadow: 10px 10px 15px gray;
}
.carrosel ul{
  display: flex;
  list-style: none;
}
.carrosel li{
  position: relative;
  animation: topo 40s infinite ease-out;
}
.carrosel li img{
  width: 1300px;
  height: 350px;
}
@keyframes topo{
  0%{right: 0px;}
  20%{right: 0px;}
  40%{right: 1200px}
  60%{right: 1200px}
  98%{right: 20px}
  99%{right: 10px}
  100%{right: 0px}
}
.box-p{
  background-color: #fff;
  border-radius: 6px;
  width: 190px;
  height: 350px;
  margin: 5px 5px;
}
.box-g{
  width: 885px;
  height: 350px;
  margin: 5px 5px;
}
.box-m{
  height: 350px;
  width: 366px;
}
.box-m .img-lateral{
  width: 366px;
  height: 350px;
}
.box-m .img-meio{
  width: 366px;
  height: 350px;
}
.box-g img{
  border-radius: 7px;
  width: 885px;
  height: 350px;
}
#flex-3{
  margin-top: 40px;
  cursor: pointer;
}
.carrosel-p{
  overflow: hidden;
  border-radius: 6px;
}
.carrosel-p ul{
  display: flex;
  list-style: none;
}
.carrosel-p li{
  position: relative;
  animation: mini 15s infinite ease-out;
}
@keyframes mini {
    0%{right: 0px}
    33%{right: 190px}
    66%{right: 380px}
    99%{right: 380px}
    100%{right: 0px}
}
.box-meio{
  border: #003375 solid 2.5px;
  border-radius: 5px;
  margin: 10px 5px;
}
.box-meio ul{
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 10px;
}
.box-meio li{
  margin: 15px 5px;
  width: 200px;
}
.box-meio img{
  width: 150px;
  margin: 20px 20px;
  border-radius: 40px;
}
.box-meio h1{
  color: #003375;
}
.box-meio .h1-1{
  margin: 5px 7px;
}
.box-meio .h1-2{
  margin: 5px 20px;
}
.box-meio .h1-3{
  margin: 5px 28px;
}
.box-meio .h1-4{
  margin: 5px 35px;
}
.box-meio .h1-5{
  margin: 5px 35px;
}
.box-meio .h1-6{
  margin: 5px 5px;
}
.box-meio .h1-7{
  margin: 5px 44px;
}
.box-meio .h1-8{
  margin: 5px 18px;
}
.box-meio .h1-9{
  margin: 5px 22px;
}
.box-meio .h1-10{
  margin: 5px 22px;
}
